{% extends "blog/madre.html" %}
{% load static %}
{% block contenidoQueCambia %}

    

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Autores</title>
</head>
<body style="background-color: rgb(255, 255, 255);">
    <form action="/blog/autores/" method="POST">
        {% csrf_token %}
        <p>Nombre: <input type="text" name="nombre" placeholder="Escriba el nombre"> </p>
        <p>Apellido: <input type="text" name="apellido" placeholder="Escriba el apellido"> </p>
        <p>Edad: <input type="number" name="edad" placeholder="Escriba la edad"> </p>
        <p>Profesion: <input type="text" name="profesion" placeholder="Escriba una profesion"> </p>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>



{% endblock %}