{% extends "blog/madre.html" %}
{% load static %}
{% block contenidoQueCambia %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>
</head>
<body style="background-color: rgb(255, 255, 255);">
    <form action="/blog/contacto/" method="POST">{% csrf_token %}
        <p>Nombre: <input type="text" name="nombre" placeholder="Escriba el nombre"> </p>
        <p>Apellido: <input type="text" name="apellido" placeholder="Escriba el apellido"> </p>
        <p>Email: <input type="email" name="email" placeholder="Escriba el email"> </p>
        <p>Telefono: <input type="number" name="telefono" placeholder="Ingrese un telefono"> </p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
  

{% endblock %}